<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body style="background: #eee; direction: rtl; text-align: right">
    <div
      class="email_container"
      style="
        background: #ffffff;
        width: 500px;
        padding: 44px;
        text-align: right;
      "
    >
      <div class="logo_image" style="margin-bottom: 44px">
        <img src="/Templates/EmailBody/logo.png" />
      </div>
      <div class="email_text">
        <p style="font-size: 20px; font-weight: 600" dir="rtl" lang="ar">
          مرحبًا <span style="color: #0c588be5">{%UserName%}</span>،
        </p>
        <p style="font-size: 20px; font-weight: 600" dir="rtl" lang="ar">
            رمز OTP لتسجيل الدخول لمنصة ارتقاء : <span>{%OTP%}</span>
        </p>
      </div>
      <p style="font-size: 20px; font-weight: 600" dir="rtl" lang="ar">
        أطيب التحيات.
      </p>
    </div>
  </body>
</html>
